body {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}



#btn, #btn2 {
    background-color: #283cff;
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    border: 2px solid #ffffff;
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 1.2s, color 0.3s linear;
    overflow: hidden;
    position: absolute;
    top: 49.5%;
    left: 49.5%;
    transform: translateX(-40%) translateY(-60%);
    animation: fadeButton1 2s ease-in;
    animation-delay: 0s, 1.5s;
    -moz-animation-delay: 0s, 3s;
    -webkit-animation-delay: 0s, 3s;
    -o-animation-delay: 0s, 3s;
    /*border-radius: 5px;*/
}

#btn::before, #btn2::before {
    margin: auto;
    content: '';
    border-radius: 50%;
    width: 50%;
    transition: box-shadow 1.2s linear;
    z-index: -1;
}

#btn:hover, #btn2:hover {
    background-color: #ffffff;
    color: #283cff;
}

#btn::before, #btn2::before {
    box-shadow: inset 0 0 0 160px #ffffff;
}


.closeBtn {
    color: #ffffff;
    float: right;
    font-size: 40px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #777777;
    text-decoration: none;
    cursor: pointer;
}


.modal,
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    overflow: initial;
    background-color: #0000002d;
}

.modal-content {
    background-color: #283cff;
    margin: 20% auto;
    width: 21%;
    height: 21%;
    line-height: 1.3em;
    box-shadow: 0 5px 8px 0 #f7f7f76b,0 10px 20px 0 #f7f7f76b;
    font-family: 'Press Start 2P', 'Dosis', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    animation-name: modalOpen;
    animation-duration: 2s;
    animation-delay: 0s, 2s;
    -moz-animation-delay: 0s, 2s;
    -webkit-animation-delay: 0s, 2s;
    -o-animation-delay: 0s, 2s;
}



.modalHeader h2{
    margin: 0;
    text-align: left;
    padding-left: 3%;
    padding-top: 5%;
}

.modalHeader {
    background-color: #283cff;
    padding: 15px;
    color: #ffffff;
}

.modalBody {
    text-align: left;
    padding-left: 3%;
}
